<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.link.bootstrap.system.dal.mapper.SequenceMapper">

    <insert id="upsertValueIfGreater">
        INSERT INTO system_sequence (
            biz_code,
            current_value,
            update_time
        )
        VALUES (
            #{name},
            #{currentValue},
            NOW()
        )
        ON DUPLICATE KEY UPDATE
            current_value = GREATEST(current_value, VALUES(current_value)),
            update_time = NOW()
    </insert>

    <insert id="upsertAndIncrement">
        INSERT INTO system_sequence (biz_code, current_value, create_time, update_time)
        VALUES (#{name}, 0, NOW(), NOW()) ON DUPLICATE KEY
        UPDATE
            current_value = current_value + 1,
            update_time = NOW()
    </insert>

    <select id="selectCurrentValueByName" resultType="java.lang.Long">
        SELECT current_value
        FROM system_sequence
        WHERE biz_code = #{name}
    </select>
</mapper>